/* ***************************************************************************
General
**************************************************************************** */
.wrap {
    width: 90%auto;
    margin: 0auto;
}
body{
  background-image: url("../images/chain.jpg");

}

.break{
  opacity: 0.0;
}

.exp{
  padding: 40px 80px;
  length: 125%;
  width:125%;
  opacity: 1;
}
/* ***************************************************************************
Nav
**************************************************************************** */




/* ***************************************************************************
Nav
**************************************************************************** */

.nav-desktop{
background-color: #222;
height: 80px;
padding: 0;
}

.site-logo {
  color:white;
  background-color: #222;
  line-height: 80px;
}

.top-bar ul{
  background-color: #222;
  line-height: 80px;
}

.menu > li > a{
  color:white;
  display: inline-block;
  line-height: 80px;
  padding-bottom: 0px;
  padding-top: 0px;
}

.menu > li > a:hover{
background-color: #333;
}


/* ***************************************************************************
Hero
**************************************************************************** */
.hero {
  background-color: lightgrey;
  padding: 50px 60px;
  opacity: .9;
}



/* ***************************************************************************
Main Section
**************************************************************************** */
.main{
  background-color: grey;
  opacity: .9;
}

.headshot{
  opacity: 1;
}

/* ***************************************************************************
Footer
**************************************************************************** */

footer {

  background-color: #222;
  padding: 50px 60px;
}

footer a{
  display: block;
}
