ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

}

li {
    float: left;
    width: 20%;
}

a:link, a:visited {
    display: block;
    width: auto;
    font-weight: bold;
    color: red;
    background-color: gray;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    padding: 20px;
}

a:hover, a:active {
    background-color: black;
}
header {
    width:auto;
    background-color:black;
    color:white;
    text-align:center;
    padding:5px;
}
footer {
    width:auto;
    background-color:black;
    color:white;
    clear:both;
    text-align:center;
    padding:20px;
}
