p {font-family: 'Lobster', cursive;
font-size: 150%;
}

h1 {font-family: 'Lobster', cursive;
font-size: 150%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

hr {
  opacity: .00;
}

.dropdown {
    float: left;
    width: 20%;
}

.cell {
    width: 100%;
}

.dropdown-toggle{


}
.dropdown-menu{
  position: absolute;
  z-index: 1;
  width: 20%;
}

.dropdown-menu2{
  position: absolute;
  z-index: 1;
  width: 20%;
}

.dropdown-menu3{
  position: absolute;
  z-index: 1;
  width: 20%;
}

a:link, a:visited {
    display: block;
    width: auto;
    font-weight: bold;
    color: white;
    background-color: gray;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    padding: 20px;
}

a:hover, a:active {
    background-color: black;
}
header {
    width:auto;
    background-color:black;
    color:white;
    text-align:center;
    padding:5px;
}
footer {
    width:auto;
    background-color:black;
    color:white;
    clear:both;
    text-align:center;
    padding:20px;
}
left{
    opacity: .75;
    background-color:#eeeeee;
    height: 500px;
    width:50%;
    float:left;
    text-align:center;

}
right{
    opacity: .75;
    width:50%;
    height: 500px;
    float:right;
    text-align:center;
    background-color:#d3d3d3;

}
